In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import warnings
warnings.filterwarnings('ignore')

In [2]:
dr_train=pd.read_csv("Final_Train.csv")
dr_test = pd.read_csv("Final_Test.csv")
#importing the train and test file

# Exploratory Data Analysis

In [3]:
dr_train.head(20)

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore â‚¹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250
5,BAMS,8 years experience,NaN,"Porur, Chennai",Ayurveda,NaN,100
6,BHMS,42 years experience,NaN,"Karol Bagh, Delhi",Homeopath,NaN,200
7,BDS,10 years experience,99%,"Arekere, Bangalore",Dentist,Dental Fillings Crowns and Bridges Fixing Impa...,200
8,"MBBS, MD - General Medicine",14 years experience,NaN,"Old City, Hyderabad",General Medicine,NaN,100
9,"BSc, BDS",23 years experience,NaN,"Athani, Ernakulam",Dentist,NaN,100
10,"MBBS, MS, DNB - ENT",5 years experience,NaN,"Thousand Lights, Chennai",ENT Specialist,NaN,700
11,BAMS,7 years experience,NaN,"Somajiguda, Hyderabad",Ayurveda,NaN,100
12,"BDS, MDS",9 years experience,98%,"Coimbatore Racecourse, Coimbatore",Dentist,"98% 14 Feedback Coimbatore Racecourse, Coimbatore",200
13,"BDS, MDS - Oral & Maxillofacial Surgery",21 years experience,NaN,"Jubilee Hills, Hyderabad",Dentist,Dental Crowns Facet Dental Dental prophylaxis,350
14,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",12 years experience,NaN,"Kondli, Delhi",ENT Specialist,NaN,500
15,"MBBS, MD - General Medicine",10 years experience,NaN,"Saroor Nagar, Hyderabad",General Medicine,NaN,200
16,"MBBS, Diploma in Otorhinolaryngology (DLO)",24 years experience,NaN,"Tambaram West, Chennai",ENT Specialist,NaN,100
17,"MBBS, MF- Homeopathy",5 years experience,NaN,"Purasawakkam, Chennai",Homeopath,NaN,300
18,"MBBS, MS - ENT",19 years experience,79%,"KPHB, Hyderabad",ENT Specialist,"79% 8 Feedback KPHB, Hyderabad",400
19,MBBS,19 years experience,100%,"HSR Layout, Bangalore",General Medicine,"100% 4 Feedback HSR Layout, Bangalore",150

In [4]:
dr_test.head(20)

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...
5,"BDS, MDS",14 years experience,90%,"Velachery, Chennai",Dentist,Acrylic Partial Denture Impaction / Impacted T...
6,"MBBS, Diploma in Otorhinolaryngology (DLO)",23 years experience,94%,"Frazer Town, Bangalore",ENT Specialist,"94% 6 Feedback Frazer Town, Bangalore"
7,"BDS, MDS - Pedodontics",9 years experience,94%,"Attapur, Hyderabad",Dentist,RCT - Root Canal Treatment Ceramic Veneers / C...
8,"MD - Ayurveda Medicine, BAMS, Yoga Teachers Tr...",11 years experience,99%,"Banashankari, Bangalore",Ayurveda,"99% 203 Feedback Banashankari, Bangalore"
9,BHMS,44 years experience,NaN,"Mayur Vihar Ph-I, Delhi",Homeopath,NaN
10,BDS,4 years experience,100%,"Erragadda, Hyderabad",Dentist,Dental Fillings Zirconia Crowns RCT - Single S...
11,"MBBS, FCD - Diabetology",34 years experience,NaN,"Gandhipuram, Coimbatore",General Medicine,NaN
12,"MBBS, DDV",11 years experience,98%,"Kemps Corner, Mumbai",Dermatologists,"98% 28 Feedback Kemps Corner, Mumbai"
13,"MBBS, MD - Dermatology",13 years experience,99%,"Banjara Hills, Hyderabad",Dermatologists,Laser Hair Removal - Face Skin Tag Treatment H...
14,MS - ENT,4 years experience,NaN,"Madandapuram, Chennai",ENT Specialist,NaN
15,BDS,4 years experience,NaN,"Mukherjee Nagar, Delhi",Dentist,"Mukherjee Nagar, Delhi â‚¹250 Visits Today"
16,"MBBS, MD - Dermatology",16 years experience,87%,"Tis Hazari, Delhi",Dermatologists,"87% 9 Feedback Tis Hazari, Delhi"
17,"MBBS, Diploma in Otorhinolaryngology (DLO), MS...",28 years experience,64%,"Banashankari 2nd Stage, Bangalore",ENT Specialist,"64% 4 Feedback Banashankari 2nd Stage, Bangalore"
18,"BDS, MDS - Conservative Dentistry & Endodontics",6 years experience,NaN,"Nagawara, Bangalore",Dentist,Ceramic Veneers / Crowns Cosmetic/ Aesthetic D...
19,"MBBS, MD - Dermatology",32 years experience,90%,"Basavanagudi, Bangalore",Dermatologists,"90% 3 Feedback Basavanagudi, Bangalore"

# Exploratory Data Analysis

In [5]:
dr_train.shape,dr_test.shape #checking the no of rows and columns of train and test data

((5961, 7), (1987, 6))

In [6]:
dr_train.isnull().sum() #checking for null values in train data

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64

In [7]:
dr_test.isnull().sum() #checking for null values in test data

Qualification            0
Experience               0
Rating                1090
Place                    6
Profile                  0
Miscellaneous_Info     834
dtype: int64

We can see that in both train and test data there are null values in 'Rating', 'place' and 'Miscellaneaous_Info'

In [8]:
dr_train.dtypes, dr_test.dtypes # checking the data types of both train and test data

(Qualification         object
 Experience            object
 Rating                object
 Place                 object
 Profile               object
 Miscellaneous_Info    object
 Fees                   int64
 dtype: object,
 Qualification         object
 Experience            object
 Rating                object
 Place                 object
 Profile               object
 Miscellaneous_Info    object
 dtype: object)

We can see that there all are categoraical variables and only the target variable is in numerical in train data

In [9]:
dr_train_vc=dr_train['Miscellaneous_Info'].value_counts()
dr_train_vc

Acrylic Partial Denture Crowns and Bridges Fixing Artificial Teeth                      40
Tooth Extraction Dental Fillings Scaling / Polishing                                    12
Dental Fillings Zirconia Crowns Dental Implant Fixing                                   12
Skin Allergy Treatment Skin Allergies Dermabrasion                                       9
Skin Disease Treatment Kidney Stone Treatment Gall Bladder (Biliary) Stone Treatment     9
                                                                                        ..
86% 14 Feedback Malleswaram, Bangalore                                                   1
93% 71 Feedback CV Raman Nagar, Bangalore                                                1
100% 222 Feedback Malkajgiri, Hyderabad                                                  1
100% 6 Feedback Frazer Town, Bangalore                                                   1
98% 144 Feedback Vikhroli East, Mumbai                                                   1
Name: Miscellaneous_Info, Length: 2998, dtype: int64

In [10]:
dr_test_vc=dr_test['Miscellaneous_Info'].value_counts()
dr_test_vc

Acrylic Partial Denture Crowns and Bridges Fixing Artificial Teeth             10
Skin Allergy Treatment Skin Allergies Dermabrasion                              9
Dermabrasion Laser Resurfacing Acne / Pimples Treatment                         6
Crowns and Bridges Fixing Complete/Partial Dentures Fixing Tooth Extraction     4
Tooth Extraction Dental Fillings Scaling / Polishing                            4
                                                                               ..
Dental Implant Fixing Crowns and Bridges Fixing Scaling / Polishing             1
94% 156 Feedback KPHB, Hyderabad                                                1
97% 230 Feedback Rajouri Garden, Delhi                                          1
Khanpur, Delhi â‚¹250 Visits Today                                                1
90% 21 Feedback Shahdara, Delhi                                                 1
Name: Miscellaneous_Info, Length: 1084, dtype: int64

In [11]:
for i in dr_train_vc.index:
    dr_train['Miscellaneous_Info'].replace(i,int(1),inplace=True)
dr_train['Miscellaneous_Info'].fillna(int(0),inplace=True)

In [12]:
for i in dr_test_vc.index:
    dr_test['Miscellaneous_Info'].replace(i,int(1),inplace=True)
dr_test['Miscellaneous_Info'].fillna(int(0),inplace=True)

In [13]:
dr_train['Miscellaneous_Info'].head(20)

0     1.0
1     1.0
2     0.0
3     1.0
4     1.0
5     0.0
6     0.0
7     1.0
8     0.0
9     0.0
10    0.0
11    0.0
12    1.0
13    1.0
14    0.0
15    0.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: Miscellaneous_Info, dtype: float64

In [14]:
dr_test['Miscellaneous_Info'].head(20)

0     0.0
1     0.0
2     1.0
3     0.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     0.0
10    1.0
11    0.0
12    1.0
13    1.0
14    0.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
Name: Miscellaneous_Info, dtype: float64

We have replaces all the null values to '0' and non null values to '1' as the 'Miscellaneous_Info' holds information

In [15]:
dr_train['Rating'].isnull().sum(), dr_test['Rating'].isnull().sum()

(3302, 1090)

we can see that there are more than 50% of null values in 'Rating' column of both train and test data. Therefore we can replace it with 0%

In [16]:
dr_train['Rating'].fillna('0%',axis=0,inplace=True)
dr_train['Rating'] = dr_train['Rating'].str.slice(stop=-1).astype(int)

In [17]:
dr_test['Rating'].fillna('0%',axis=0,inplace=True)
dr_test['Rating'] = dr_test['Rating'].str.slice(stop=-1).astype(int)

We have replace null values with 0% and converted the string value to integer

In [18]:
dr_train.isnull().sum() #checking for null values in train data

Qualification          0
Experience             0
Rating                 0
Place                 25
Profile                0
Miscellaneous_Info     0
Fees                   0
dtype: int64

In [19]:
dr_test.isnull().sum() #checking for null values in train data

Qualification         0
Experience            0
Rating                0
Place                 6
Profile               0
Miscellaneous_Info    0
dtype: int64

In [20]:
dr_train.dtypes, dr_test.dtypes

(Qualification          object
 Experience             object
 Rating                  int32
 Place                  object
 Profile                object
 Miscellaneous_Info    float64
 Fees                    int64
 dtype: object,
 Qualification          object
 Experience             object
 Rating                  int32
 Place                  object
 Profile                object
 Miscellaneous_Info    float64
 dtype: object)

Now there are only null values in 'Place' column
Initially we fill the null values with (not known,not known)

In [21]:
dr_train['Place'].fillna('not known,not known',axis=0,inplace=True)
dr_test['Place'].fillna('not known,not known',axis=0,inplace=True)

Now we split 'Place' into two columns, 'City' and 'Area' and we can drop place

In [22]:
dr_train['Area'] = dr_train['Place'].str.split(",").str[0]
dr_test['Area'] = dr_test['Place'].str.split(",").str[0]
dr_train['City'] = dr_train['Place'].str.split(",").str[1]
dr_test['City'] = dr_test['Place'].str.split(",").str[1]


dr_train.drop('Place',axis=1,inplace=True)
dr_test.drop('Place',axis=1,inplace=True)

Now we remove any empty spaces if present in 'City' and 'Area' columns in train and test data

In [23]:
dr_train['Area'] = dr_train['Area'].str.strip()
dr_test['Area'] = dr_test['Area'].str.strip()
dr_train['City'] = dr_train['City'].str.strip()
dr_test['City'] = dr_test['City'].str.strip()

In [24]:
dr_train.head()

,Qualification,Experience,Rating,Profile,Miscellaneous_Info,Fees,Area,City
0,"BHMS, MD - Homeopathy",24 years experience,100,Homeopath,1.0,100,Kakkanad,Ernakulam
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98,Ayurveda,1.0,350,Whitefield,Bangalore
2,"MBBS, MS - Otorhinolaryngology",9 years experience,0,ENT Specialist,0.0,300,Mathikere - BEL,Bangalore
3,"BSc - Zoology, BAMS",12 years experience,0,Ayurveda,1.0,250,Bannerghatta Road,Bangalore
4,BAMS,20 years experience,100,Ayurveda,1.0,250,Keelkattalai,Chennai

In [25]:
dr_test.head()

,Qualification,Experience,Rating,Profile,Miscellaneous_Info,Area,City
0,MBBS,35 years experience,0,General Medicine,0.0,Ghatkopar East,Mumbai
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,0,ENT Specialist,0.0,West Marredpally,Hyderabad
2,"MBBS, DDVL",40 years experience,70,Dermatologists,1.0,KK Nagar,Chennai
3,BAMS,0 years experience,0,Ayurveda,0.0,New Ashok Nagar,Delhi
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100,Dentist,1.0,Kanakpura Road,Bangalore

In [26]:
dr_train['City'].unique(), dr_train['City'].nunique()

(array(['Ernakulam', 'Bangalore', 'Chennai', 'Delhi', 'Hyderabad',
        'Coimbatore', 'Mumbai', 'Thiruvananthapuram', 'not known',
        'Sector 5', nan], dtype=object),
 10)

In [27]:
dr_test['City'].unique(), dr_test['City'].nunique()

(array(['Mumbai', 'Hyderabad', 'Chennai', 'Delhi', 'Bangalore',
        'Coimbatore', 'Thiruvananthapuram', 'Ernakulam', 'not known'],
       dtype=object),
 9)

we can see that the no of cities in train and test data is 10 and 9. We notice that Sector 5 is in  Delhi and we can replace 'Sector 5' to 'Delhi' in train data

In [28]:
dr_train['City'] = dr_train['City'].replace(['Sector 5'],'Delhi')

In [29]:
dr_train['City'].unique(), dr_train['City'].nunique()

(array(['Ernakulam', 'Bangalore', 'Chennai', 'Delhi', 'Hyderabad',
        'Coimbatore', 'Mumbai', 'Thiruvananthapuram', 'not known', nan],
       dtype=object),
 9)

In [30]:
dr_train[dr_train['City'].isna()]

,Qualification,Experience,Rating,Profile,Miscellaneous_Info,Fees,Area,City
3980,BDS,23 years experience,0,Dentist,0.0,250,e,NaN

In this column we need to impute 'City' and 'Area' column to 'not known' where 'City'=NaN.

we can use loc: 3980 to do the same

In [31]:
dr_train['City'].loc[3980] = "not known"
dr_train['Area'].loc[3980] = "not known"

In [32]:
dr_train['City'].unique(), dr_train['City'].nunique()

(array(['Ernakulam', 'Bangalore', 'Chennai', 'Delhi', 'Hyderabad',
        'Coimbatore', 'Mumbai', 'Thiruvananthapuram', 'not known'],
       dtype=object),
 9)

In [33]:
dr_train['Area'].isnull().sum(),dr_test['Area'].isnull().sum(),dr_train['City'].isnull().sum(),dr_test['City'].isnull().sum()

(0, 0, 0, 0)

We have removed all the null values from the 'City' and "Area" Columns and we are good to go

In [34]:
dr_train['Experience'].head() # converting it into numerical

0    24 years experience
1    12 years experience
2     9 years experience
3    12 years experience
4    20 years experience
Name: Experience, dtype: object

In [35]:
dr_train['Experience'] = dr_train['Experience'].str.split(" ").str[0]
dr_test['Experience'] = dr_test['Experience'].str.split(" ").str[0]

Now we remove any empty spaces if present in 'Experience' column in train and test data

In [36]:
dr_train['Experience'] = dr_train['Experience'].str.strip()
dr_test['Experience'] = dr_test['Experience'].str.strip()

As it is of string data type we have tp Convert it into integer

In [37]:
dr_train['Experience'] = dr_train['Experience'].astype(int)
dr_test['Experience'] = dr_test['Experience'].astype(int)

In [38]:
dr_train['Experience'].head() #crosschecking

0    24
1    12
2     9
3    12
4    20
Name: Experience, dtype: int32

In [39]:
dr_test['Experience'].head() #crosschecking

0    35
1    31
2    40
3     0
4    16
Name: Experience, dtype: int32

In [40]:
dr_train.dtypes

Qualification          object
Experience              int32
Rating                  int32
Profile                object
Miscellaneous_Info    float64
Fees                    int64
Area                   object
City                   object
dtype: object

# Splitting of train data into Independent and Target variables

In [41]:
ind=dr_train.drop("Fees",axis=1)
tar=dr_train["Fees"]
#splitting individual and target variable in ind and tar

# Label Encoding
Converting Categorical Variables to numerical

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
label = LabelEncoder()

In [44]:
ind['Qualification']=label.fit_transform(ind['Qualification'])
ind['Profile']=label.fit_transform(ind['Profile'])
ind['Area']=label.fit_transform(ind['Area'])
ind['City']=label.fit_transform(ind['City'])

In [45]:
ind.head()

   Qualification  Experience  Rating  Profile  Miscellaneous_Info  Area  City
0            401          24     100        5                 1.0   296     4
1             73          12      98        0                 1.0   855     0
2           1135           9       0        3                 0.0   452     0
3            464          12       0        0                 1.0    68     0
4             10          20     100        0                 1.0   335     1

In [46]:
ind.corr()

,Qualification,Experience,Rating,Profile,Miscellaneous_Info,Area,City
Qualification,1.000000,0.134697,0.023533,0.393123,0.019150,0.006294,-0.028609
Experience,0.134697,1.000000,-0.038569,0.202073,-0.120359,0.000484,0.017615
Rating,0.023533,-0.038569,1.000000,-0.126389,0.734893,-0.045739,-0.102761
Profile,0.393123,0.202073,-0.126389,1.000000,-0.170498,0.016642,-0.015026
Miscellaneous_Info,0.019150,-0.120359,0.734893,-0.170498,1.000000,-0.043156,-0.095527
Area,0.006294,0.000484,-0.045739,0.016642,-0.043156,1.000000,-0.072861
City,-0.028609,0.017615,-0.102761,-0.015026,-0.095527,-0.072861,1.000000

we can see there is high correlation between 'Miscellaneous_Info' and 'Rating'. we can drop 'Miscellaneous_Info' as the information is not proper and it is messy

In [47]:
ind.drop('Miscellaneous_Info',axis=1,inplace=True)

# Data Modeling and prediciton

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
# splitting data into training and testing 
ind_train, ind_test, tar_train, tar_test = train_test_split(ind, tar, test_size=0.33, random_state=42)

In [50]:
len(ind_train),len(ind_test),len( tar_train),len(tar_test)

(3993, 1968, 3993, 1968)

Label Encoding of test data

In [51]:
dr_test['Qualification']=label.fit_transform(dr_test['Qualification'])
dr_test['Profile']=label.fit_transform(dr_test['Profile'])
dr_test['Area']=label.fit_transform(dr_test['Area'])
dr_test['City']=label.fit_transform(dr_test['City'])

In [52]:
dr_test.head()

   Qualification  Experience  Rating  Profile  Miscellaneous_Info  Area  City
0            241          35       0        4                 0.0   142     6
1            340          31       0        3                 0.0   577     5
2            258          40      70        2                 1.0   212     1
3              6           0       0        0                 0.0   373     3
4             79          16     100        1                 1.0   231     0

In [53]:
dr_test.corr()

,Qualification,Experience,Rating,Profile,Miscellaneous_Info,Area,City
Qualification,1.000000,0.112672,0.044551,0.372002,0.059115,0.020665,-0.036618
Experience,0.112672,1.000000,-0.019059,0.154077,-0.103514,0.025714,-0.008124
Rating,0.044551,-0.019059,1.000000,-0.134298,0.721721,-0.051470,-0.045163
Profile,0.372002,0.154077,-0.134298,1.000000,-0.155175,-0.005737,0.029252
Miscellaneous_Info,0.059115,-0.103514,0.721721,-0.155175,1.000000,-0.039188,-0.036068
Area,0.020665,0.025714,-0.051470,-0.005737,-0.039188,1.000000,-0.089014
City,-0.036618,-0.008124,-0.045163,0.029252,-0.036068,-0.089014,1.000000

we can see there is high correlation between 'Miscellaneous_Info' and 'Rating'. we can drop 'Miscellaneous_Info' as the information is not proper and it is messy

In [54]:
dr_test.drop('Miscellaneous_Info',axis=1,inplace=True)

In [55]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import make_scorer
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [61]:
knn = KNeighborsRegressor()
svm = SVR(gamma='scale')
dt = DecisionTreeRegressor()
rf = RandomForestRegressor()
lr= LinearRegression()

In [64]:
for m in [knn,svm,dt,rf,lr]:
    m.fit(ind_train,tar_train)
    train_predict = m.predict(ind_train)
    test_predict = m.predict(ind_test)
    print('for',m)
    print("RMSE :", np.sqrt(mean_squared_error(tar_train, train_predict)))
    print("RMSE :", np.sqrt(mean_squared_error(tar_test, test_predict)))
    print("Train R^2: ", r2_score(tar_train, train_predict))

for KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')
RMSE : 153.9675651865567
RMSE : 188.82199978187398
Train R^2:  0.3561463672365962
for SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
RMSE : 188.0422607930807
RMSE : 183.34922474124406
Train R^2:  0.03962776809450974
for DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')
RMSE : 10.487929291481093
RMSE : 238.63799995039602
Train R^2:  0.9970124982530384
for RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)
RMSE : 66.2577650340714
RMSE : 173.2319893866368
Train R^2:  0.8807654186020976
for LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
RMSE : 182.92998869174735
RMSE : 177.27919438503628
Train R^2:  0.09113687870247977

We can see that RandomForestRegressor model is performing well. Therefore we use this model to predict the test data

we can get best parameters by using testdata to improve the model

In [58]:
from sklearn.model_selection import GridSearchCV
parameters={'criterion':['mse','mae'],'max_features': ['auto','sqrt','log2']}
rf=RandomForestRegressor()
gs=GridSearchCV(rf,parameters)
gs.fit(ind_train,tar_train)
print(gs.best_params_)
#best parameters

{'criterion': 'mae', 'max_features': 'log2'}

Predicting the test data using the RandomForestRegressor model

In [65]:
test_predict = rf.predict(dr_test)

In [66]:
test_predict

array([389.1 , 315.5 , 302.7 , ..., 296.75, 213.  , 257.6 ])

we can see that the predicted fees are in float values. We can see that in given data fees is in multiples of 50. Therefore we must round them up with 50

In [67]:
#rounding off to multiples of 5
# if the tens
def roundoff(r):
    a=(r//50)*50
    if a==r:
        return int(r)
    elif r-a>=25.0:
        return int((a+50))
    else:
        return int(a)

In [68]:
#predicted test data after rounding off in multiples of 50
testdata=[]
for i in range(len(test_predict)):
    testdata.append(roundoff(test_predict[i]))
testdata=pd.DataFrame({'id':np.arange(1,len(testdata)+1,1),'Fees':testdata})
print(testdata.head())

   id  Fees
0   1   400
1   2   300
2   3   300
3   4   250
4   5   250